hmmpfam.pfam_tigr	hmmpfam3.pl	hmm3pfam_results
hmmpfam.cazy	hmmpfam3.pl	hmm3cazy_results
ncbi-blastp.uniref	blastp.pl	uniref_results
ncbi-blastp.tair	blastp.pl	tair_results
ncbi-blastp.customdb	blastp.pl	custom_results
rpsblast.cdd	rpsblast.pl	cdd_results
tmhmm.tm	tmhmm.pl	tmhmm_results
signalp.sigp	signalp.pl	signalp_results
targetp.targ	.pl	targetp_results
rpsblast.priamrps	rpsblast.pl	priamrps_results
priam_ec_assignment.priamec	.pl	priam_ec_results
lipoprotein	lipoprotein.pl	lipoprotein_results
autonaming	parse_and_autoname_results.pl	autonaming_results