evalue	-e	1e-5
wordsize	-W	3
filter	-F	T
gapOpenCost	-G	-1	
gapExtCost	-E	-1
gappedAlignmentDropoff	-X	15
showGI	-I	F
databaseDesc	-v	50
databaseAlign	-b	50
hitExtendThresh	-f	11
believeDefline	-J	F
matrix	-M BLOSUM62
bestHitsKeep	-K	10
output	-m	7
searchSize	-Y	0.0
lowerCaseFiltering	-U	F
ungappedExtCutoff	-y	7.0
finalGappedCutoff	-Z	25.0
multiHitWindow	-A	40
gappedAlignment	-g	T
#databasesize	-z	4025995546
